header {

  position: static;
  opacity: 0.8;

}
h1 {
  color:white;
  background-color: black;
  opacity: 0.8;
  text-align: center;
}
img {
  width: 100%;
}

p {
  color: white;
  background-color: #993399;
  opacity: 0.8;
  padding: 30px;
}
table {
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
ol {
  background-color: black;
  opacity: 0.8;
  align-content: center;
  align-self: center;
  color: white;
  width: 120px;
  align-items: right;
  /*make list centered on page or something*/
}
.plist {
  background-color: black;
  opacity: 0.8;
  align-content: center;
  align-self: center;
  color: white;
  width: 120px;
  align-items: right;
  padding: 20px
  /*make list centered on page or something*/
}
h1 {
  font-size: bold 14px Georgia, serif;
}
tr {
  width: 100%;
}
aside {
  font: purple;
  background-color: #ffffff;
  opacity: 0.8;
  padding: 25px;
}

body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/50/Landscape_Carina_Nebula.jpg);
  background-size: cover;
  /*opacity: 0.5;*/
  /*position:fixed;*/
}

footer {
  background-color: black;
  opacity: 0.8;
  color: white;
}
*{
  font-family: Gill Sans Extrabold, sans-serif;
}
